h1.title {
    font-family: "Arial";   
}

body{
  color: darkblue;
  font: "Trebuchet MS";
}


nav{
    position: fixed;
    width:100%;
    top:0;  
    background-color: #555; 
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }


li.navitem a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    height:30px;
  }
  
  li.navitem a:hover {
    background-color: #111;
  }

aside.left-container {

    width: 40%;
    max-width: 300px;
    height: 100%;
    background-color: #334499;
    color: white;
    text-align: center;
    position: absolute;


}
#gap {
  padding-right: 20px;
  padding-left: 20px;
}

main{
  position: absolute;
   
}

.right-container{
  margin-left: min(40%, 300px);
  padding: 20px;
  float: left;

  height: 100%;

}

h1.title {
    color: white;
    font-size: 30px;
  
}

div.box{
  margin:auto;
  width: 80%;
}

#profile {
  border-radius: 15%;
  stroke: 15px;
  border-color: green;
  border: solid;
  width: min(100%, 200px);
 
  display: block;
  margin: auto;
  
}

img.grid-image{
  width: 80%;
  height: 160px;
  max-width: 250px;
  object-fit: cover;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: #61A6F3;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
    /*grid-auto-rows: 350px;  <-- no limit on grid item height*/
}


.grid-text{
  margin-top: 0px;
  margin-bottom: 0px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    
}

.description{
  margin: 5px 0px;
  overflow:hidden;
}

h4.description{
  max-height: 20px;
}

/*
p.description {
  max-height: 110px; <-- no limit on grid item description height, so descriptions don't get truncated
}
*/

.clickable{
    color:white;

}

.clickable:hover {
    color: #E6A;
}

.list-icon{
   font-size: 60px;
}


h3.intro{
  text-align:center;
  margin: 20px;
  font-family: Trebuchet MS
}


.horizontal-list{
    float: left;
    list-style-type: none;
}

.activity{
  width: auto;
  margin: 10px;
  text-align: center;
  float: left;

  
}

.activity p {
  margin: 10px;
}

.activity img {
  width: 110px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

section{
  clear: both;
  margin-top: 30px;
  margin-bottom: 30px;
}


