
h1 {
    color: red;
    
}


.navbar{

    display: flex;
    background-color: grey;
}

ul{
    background-color: green;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }