
h1 {
    font-family: "Arial";
    
}

body{
  color: darkblue;
  font: "Trebuchet MS";
}


.navbar{

    display: flex;
    background-color: grey;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
  }


li.navitem a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    font-size: 20px;
    text-decoration: none;
  }
  
  li.navitem a:hover {
    background-color: #111;
  }

aside.left-container {

    float: left;
    width: 40%;
    height: 100%;
    background-color: blue;
    color: white;
    text-align: center;


}
#gap {
  padding-right: 20px;
  padding-left: 20px;
}
section.main{
  height:100vh;
}

section.right-container{
  float:left;
  width: 60%;
  height: 100%;

}
h1.title {
    color: white;
    font-size: 30px;
}

div.box{
  margin:auto;
  width: 80%;
}

#profile {
  border-radius: 15%;
  stroke: 15px;
  border-color: green;
  border: solid;
  width: min(100%, 200px);
 
  display: block;
  margin: auto;
  
}

img.grid-image{
  width: 80%;
  height: 200px;
  object-fit: cover;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background-color: #61A6F3;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-rows: 150px; 
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}